sl4MapApplication/MapApplication/Service References/DataService/sshmcDataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.192.161.4/dataservice/sshmcDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataService" />
  <xs:element name="CheckUserIDPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserIDPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserIDPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GetSiteInfoResult" nillable="true" type="q1:ArrayOfvwSiteDegree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GetSensorInfoResult" nillable="true" type="q2:ArrayOfvwSensorDegree" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCCTVInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCCTVInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GetCCTVInfoResult" nillable="true" type="q3:ArrayOftblCCTV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisasterInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisasterInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GetDisasterInfoResult" nillable="true" type="q4:ArrayOftblPre_disasterNotified" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyDisaster">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSurveyDisasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GetSurveyDisasterResult" nillable="true" type="q5:ArrayOftblSurvey_Disaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSurverDiasterInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="info" nillable="true" type="q6:tblSurvey_Disaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSurverDiasterInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GettblReportNotified">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GettblReportNotifiedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GettblReportNotifiedResult" nillable="true" type="q7:ArrayOfvwReportNotified" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>